<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" [formGroup]="searchMarkesForm">
                <div formArrayName="sections" *ngFor="let section of searchMarkesForm.get('sections')['controls']; let i = index;">
                <div class="card" [formGroupName]="i" >
                    <div class="card-header">
                        <h4 class="card-title">Top Rankers : {{f.sections.controls[i].controls.spardhaname.value}}</h4>
                    </div>

                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-sm-3">
                            <label class=" col-form-label">Spardha Name</label>
                            <select class="" data-size="7" data-style="btn btn-primary btn-round" title="Single Select"  formControlName="spardhaname" >
                                <option [value]="spardha.slot_spardha" *ngFor="let spardha of spardhaList">  {{spardha.slot_spardha}}</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-3">
                            <label class=" col-form-label">Marks Range</label>
                            <select class="" data-size="7" data-style="btn btn-primary btn-round" title="Single Top Range"  formControlName="markeRange" >
                                <option [value]="topRange" *ngFor="let topRange of topRangegroup">  {{topRange}}</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-3">
                            <div class="form-group row">
                                <label class="col-sm-8 col-form-label">Minimum Marks</label>
                                <input type="number" formControlName="minMarks" class="form-control col-sm-4" />
                                <!--<div *ngIf="f.sections.controls[i].controls.minMarks.errors" class="invalid-feedback col-sm-12">
                                    <div *ngIf="f.sections.controls[i].controls.minMarks.errors.required">Minimum Markrs Required</div>
                                    <div *ngIf="f.sections.controls[i].controls.minMarks.errors.min">Minimum Marks must be less then Maximum marks</div>
                                </div>-->


                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-3">
                            <div class="form-group row">
                                <label class="col-sm-8 col-form-label">Maximum Marks</label>
                                <input type="number" formControlName="maxMarks" class="form-control col-sm-4" />
                                <!--<div *ngIf="f.sections.controls[i].controls.maxMarks.errors" class="invalid-feedback col-sm-12">
                                    <div *ngIf="f.sections.controls[i].controls.maxMarks.errors.required">Maximum Markrs Required</div>
                                    <div *ngIf="f.sections.controls[i].controls.maxMarks.errors.max">Maximum Marks must be more then Minimum marks and less then 101</div>
                                </div>-->

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-3 ">
                            <div class="">
                                <button [disabled]="loading" class="btn btn-primary col-lg-10 float-left mt-0" (click)="onSubmit(i)">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->

                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th class="text-center">
                                            No.
                                        </th>
                                        <th>
                                            Balak ID
                                        </th>
                                        <th>
                                            Balak Name
                                        </th>
                                        <th class="text-center">
                                            Marks
                                        </th>
                                        <th>
                                            Select/ Remove for Final
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let mark of spardhaUniqueName[i].marks;">
                                        <td class="text-center">{{i+1}}</td>
                                        <td>{{mark.mark_bal_id}}</td>
                                        <td>{{mark.bal_name}} {{mark.bal_surname}}</td>
                                        <td class="text-center">{{mark.mark_marks}}</td>

                                        <td class="text-right">
                                            <button *ngIf="showAdd(mark.mark_selected4final)" type="button" rel="tooltip" class="btn btn-primary btn-download" (click)="selectRomove(mark.mark_id, 'select',i)">
                                                Select
                                            </button>
                                            <button *ngIf="showRemove(mark.mark_selected4final)" type="button" rel="tooltip" class="btn btn-primary btn-download" (click)="selectRomove(mark.mark_id, 'remove',i)">
                                                Remove
                                            </button>


                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            </form>
        </div>


    </div>
    
</div>


