<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Top Rankers</h4>
                </div>
                <form class="form-horizontal" [formGroup]="searchMarkesForm" >
                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-sm-3">
                            <label class=" col-form-label">Spardha Name</label>
                            <select class="" data-size="7" data-style="btn btn-primary btn-round" title="Single Select" (change)="_setSpardhaName($event.target.value)">
                                <option value="0">Select Spardha</option>
                                <option [value]="spardha.slot_spardha" *ngFor="let spardha of spardhaUniqueName.spardhas">  {{spardha.slot_spardha}}</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-3">
                            <label class=" col-form-label">Marks Range</label>
                            <select class="" data-size="7" data-style="btn btn-primary btn-round" title="Single Top Range" (change)="_setTop_record($event.target.value)">
                                <option [value]="topRange" *ngFor="let topRange of topRangegroup">  {{topRange}}</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-3">
                            <div class="form-group">
                                <label class="col-form-label">Minimum Marks</label>
                                <input type="number" formControlName="minMarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.minMarks.errors }"  />
                                <div *ngIf="submitted && f.minMarks.errors" class="invalid-feedback">
                                    <div *ngIf="f.minMarks.errors.required">Minimum Markrs Required</div>
                                    <div *ngIf="f.minMarks.errors.min">Minimum Marks must be less then Maximum marks</div>
                                </div>


                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-3">
                            <div class="form-group">
                                <label class="col-form-label">Maximum Marks</label>
                                <input type="number" formControlName="maxMarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.maxMarks.errors }"/>
                                <div *ngIf="submitted && f.maxMarks.errors" class="invalid-feedback">
                                    <div *ngIf="f.maxMarks.errors.required">Maximum Markrs Required</div>
                                    <div *ngIf="f.maxMarks.errors.max">Maximum Marks must be more then Minimum marks</div>
                                </div>

                            </div>
                        </div>
                        <button [disabled]="loading" class="btn btn-warning btn-round btn-block mb-3" (click)="onSubmit()">Search</button>
                    </div>
                </form>
                <div class="card-body">
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->

                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th >
                                No.
                            </th>
                            <th>
                                Balak ID
                            </th>
                            <th>
                                Balak Name
                            </th>
                            <th class="text-center">
                                Marks
                            </th>
                            <th class="text-right">
                                Select/ Unselect for Final
                            </th>
                            
                            </thead>
                            <tbody>
                                <tr *ngFor="let mark of topRankMarks.marks; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{mark.mark_bal_id}}</td>
                                    <td>{{mark.bal_name}} {{mark.bal_surname}}</td>
                                    <td>{{mark.mark_marks}}</td>
                                    
                                    <td class="text-right">
                                        <button *ngIf="showAdd(mark.mark_selected4final)" type="button" rel="tooltip" class="btn btn-primary btn-download" (click)="selectRomove(mark.mark_id, 'select')">
                                            Select
                                        </button>
                                        <button *ngIf="showRemove(mark.mark_selected4final)" type="button" rel="tooltip" class="btn btn-primary btn-download" (click)="selectRomove(mark.mark_id, 'remove')">
                                            Remove
                                        </button>


                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
    
</div>


