<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Spardha List</h4>
                </div>
                <form class="form-horizontal">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-sm-3" style="max-width:190px;padding-left: 25px;">
                            <label class=" col-form-label">Spardha Name</label>
                            <select class="" data-size="7" data-style="btn btn-primary btn-round" title="Single Select" (change)="_getSpardhaDate($event.target.value)">
                                <option value="0">Select Spardha</option>
                                <option [value]="spardha.slot_spardha" *ngFor="let spardha of spardhaUniqueName.spardhas">  {{spardha.slot_spardha}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-3" style="max-width:190px;padding-left: 25px;">
                            <label class=" col-form-label">Spardha Date</label>
                            <select class="" data-size="7" data-style="btn btn-primary btn-round" title="Single Select" (change)="_getSpardhaTime($event.target.value)">
                                <option value="0">Select Spardha Date</option>
                                <option [value]="date.slot_date" *ngFor="let date of spardhaDate.dates">  {{date.slot_date}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-3" style="max-width:190px;padding-left: 25px;">
                            <label class="col-form-label">Spardha Time</label>
                            <select class="" data-size="7" data-style="btn btn-primary btn-round" title="Single Select" (change)="_getSpardhaList($event.target.value)">
                                <option value="0">Select Spardha Time</option>
                                <option [value]="time.slot_from_time" *ngFor="let time of spardhaTime.times">  {{time.slot_from_time}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-3" style="max-width:180px;padding-left: 25px;">
                            <label class="col-form-label">Region Type</label>
                            <select class="" data-size="7" data-style="btn btn-primary btn-round" title="Single Select" (change)="_setRegionType($event.target.value)">
                                <option value="Chhatralay">Chhatralay</option>
                                <option value="Gramya">Gramya</option>
                                <option value="City">City</option>
                                <option value="Parprant">Parprant</option>

                            </select>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-3" style="max-width:180px;">
                            <button type="button" rel="tooltip" class="btn btn-primary btn-download" (click)="searchBalakList()">
                                Search
                            </button>
                            
                        </div>
                    </div>
                </form>
                <div class="card-body">
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->

                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th class="text-center">
                                No.
                            </th>
                            <th>
                                Slot ID
                            </th>
                            <th>
                                Room
                            </th>
                            <th class="text-center">
                                Place
                            </th>
                            <th class="text-right">
                                Nirnayak 1
                            </th>
                            <th class="text-right">
                                Nirnayak 2
                            </th>
                            <th class="text-right">
                                Actions
                            </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let spardha of spardhaList.spardhas; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{spardha.slot_id}}</td>
                                    <td>{{spardha.slot_room}}</td>
                                    <td>{{spardha.slot_place}}</td>
                                    <td>{{spardha.slot_nirnayak_1}}</td>
                                    <td>{{spardha.slot_nirnayak_2}}</td>
                                    <td class="text-right">
                                        <button type="button" rel="tooltip" class="btn btn-primary btn-download" (click)="openModalDialog(spardha.slot_id)">
                                            Download
                                        </button>
                                        <!--<button type="button" rel="tooltip" class="btn btn-primary btn-submit-mark " [routerLink]="spardhaDetail/{{spardha.slot_id}}">

                                            Submit Marks
                                        </button>-->
                                        <a  class="btn btn-primary btn-submit-mark " [routerLink]="['/spardhaDetail',spardha.slot_id]">Submit Marks</a>

                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
    
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<!-- modal -->
<div class="main-content" id="reportContent" [ngStyle]="{'display':display}">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Spardha: {{spardhaBalakList.spardha_info.slot_spardha}}</h4>
                </div>
                <form class="form-horizontal card-body">
                    <div class="row border">


                        <div class="col-lg-4 col-md-6 col-sm-3">
                            <label class="font-weight-bold px-2">Spardha Date: </label>
                            <label>{{spardhaBalakList.spardha_info.slot_date}}</label>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-3">
                            <label class="font-weight-bold px-2">Spardha Time: </label>
                            <label>From {{spardhaBalakList.spardha_info.slot_from_time}} To {{spardhaBalakList.spardha_info.slot_from_time}}</label>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-3">
                            <label class="font-weight-bold px-2">Spardha Nirnayak 1: </label>
                            <label>{{spardhaBalakList.spardha_info.slot_nirnayak_1}}</label>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-3">
                            <label class="font-weight-bold px-2">Spardha Nirnayak 2: </label>
                            <label>{{spardhaBalakList.spardha_info.slot_nirnayak_2}}</label>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-3">
                            <label class="font-weight-bold px-2">Marks Verified: </label>
                            <label>{{spardhaBalakList.spardha_info.slot_marks_verified}}</label>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-3">
                            <label class="font-weight-bold px-2">Marks Verified By: </label>
                            <label>{{spardhaBalakList.spardha_info.slot_marks_verified_by}}</label>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-3">
                            <label class="font-weight-bold px-2">Marks Submited: </label>
                            <label>{{spardhaBalakList.spardha_info.slot_marks_submitted}}</label>
                        </div>
                    </div>
                </form>
                <div class="card-body">
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->

                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th class="">
                                        No.
                                    </th>
                                    <th>
                                        Balak ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th class="">
                                        Marks
                                    </th>
                                    <th class="">
                                        Region
                                    </th>
                                    <th class="">
                                        Remark
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let spardha_balak of spardhaBalakList.spardha_balaks; let i = index">
                                    <td class="padding-75rem">{{i+1}}</td>
                                    <td>{{spardha_balak.bal_id}}</td>
                                    <td>{{spardha_balak.bal_name}}  {{spardha_balak.bal_surname}}</td>
                                    <td>{{spardha_balak.mark_marks}}</td>
                                    <td>{{spardha_balak.bal_region}}</td>
                                    <td>{{spardha_balak.mark_remark}}</td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
